.title{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.strong{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-left: .5rem;
}